<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Admin</h1>
       
    <div class="container">
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" placeholder="Enter username" name="username">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter password" name="password">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>